
.icon-dinner-1:before { content: '\e800'; } /* '' */
.icon-food-service-1:before { content: '\e801'; } /* '' */
.icon-pot-1:before { content: '\e802'; } /* '' */
.icon-water-1:before { content: '\e803'; } /* '' */
.icon-broccoli-1:before { content: '\e804'; } /* '' */
